<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ChatbotTestSuite">
    <test verbose="2" preserve-order="true" name="/home/cbnits-208/IdeaProjects/FirsTestCase">
        <classes>
            <class name="com.prompts.ToxicityTest">
                <methods>
                    <include name="promtsMassages"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
